@import "colors.scss";
@import "mixin.scss";

#clients {
  display: flex;
  background-color: $footer-links;
  justify-content: space-between;
  padding-left: 10%;
  padding-right: 10%;
  h3 {
    font-weight: 700;
    font-size: 44px;
    color: $button;
    @include align-center;
    margin-top: 50px;
    margin-bottom: 0;
  }
  p {
    font-weight: 600;
    font-size: 19px;
    color: white;
    @include align-center;
    margin-top: 0;
    margin-bottom: 50px;
  }
}

@media (max-width: 650px) {
  #clients {
    display: block;
    padding: 5%;
  }
}
