@import "colors.scss";

#equipe {
  display: inline-block;
  margin: 0 10%;
}

#equipe img {
  height: 300px;
  width: 300px;
  object-fit: cover;
  border-radius: 50%;
}

.container-photo {
  text-align: center;
}

.portraits {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
#equipe h4 {
  padding: 0px;
  margin: 0px;
}
#equipe p {
  font-weight: 400;
  font-size: 18px;
  width: 300px;
  color: #868686;
  text-align: center;
  padding: 0px 50px 50px 50px;
  margin: 0px;
}