@import "colors.scss";

#galerie {
  margin: 10%;
}

#img-galerie {
  border-radius: 35px;
  width: 100%;
}

#icns-galerie {
  display: flex;
  justify-content: space-between;
  text-align: center;
  padding-top: 10px;
}

.icn-galerie {
  border: solid 4px $footer-links;
  width: 40px;
  height: 40px;
  padding: 20px;
  border-radius: 50%;
  &:hover {
    color: $button;
    background-color: $footer-links;
  }
}
