@import "colors.scss";

#galerie {
  margin: 5%;
}

.slider{
  width: 80%;
  max-width: 1000px;
  overflow: hidden;
  margin: auto;
}
.slides{
  display: flex;
  transition: all 0.5s;
}
.slide{
  min-width: 100%
}

#img-galerie {
  border-radius: 35px;
  width: 100%;
  height: auto;
  display: block;
}

#icns-galerie {
  display: flex;
  justify-content: space-between;
  text-align: center;
  padding-top: 10px;
}

.icn-galerie {
  border: solid 4px $footer-links;
  width: 40px;
  height: 40px;
  padding: 20px;
  border-radius: 50%;
  a {
    font-family: 'Courier New', Courier, monospace;
    font-size: 25px;
  }
  &:hover {
    color: $button;
    background-color: $footer-links;
    a{
      color: $button;
    }
  }
}

