@import "colors.scss";
header {
  font-weight: 600;
  h1 {
    font-weight: 600;
    font-size: 52px;
    color: white;
    vertical-align: middle;
    text-align: right;
    padding-top: 460px;
    padding-right: 50px;
    margin-bottom: 0px;
    margin-top: 0px;
  }
  h2 {
    font-weight: 700;
    font-size: 64px;
    color: $button;
    vertical-align: middle;
    text-align: right;
    padding-bottom: 50px;
    padding-right: 50px;
    margin-top: 0px;
    margin-bottom: 0px;
  }
}

#accueil {
  background-image: url("../assets/rodion-kutsaev-049M_crau5k-unsplash.jpg");
}
