@import "menu.scss";
@import "header.scss";
@import "equipe.scss";
@import "client.scss";
@import "services.scss";
@import "actu.scss";
@import "form.scss";
@import "apropos.scss";
@import "galery.scss";
@import "footer.scss";
@import "addactu.scss";

@import "connect.scss";

@import "colors.scss";

@import "mixin.scss";

body {
  font-family: "Poppins", sans-serif;
  margin: 125px 0 0 0;
  padding: 0;
}

a {
  font-weight: 500;
  font-size: 20px;
  text-decoration: none;
  color: $police-color;
  @include align-center;
}

h2 {
  font-weight: 600;
  font-size: 53px;
  color: $titles-color;
  @include align-center;
}

h3 {
  font-weight: 500;
  font-size: 29px;
  color: $police-color;
  @include align-center;
}

h4 {
  font-weight: 500;
  font-size: 25px;
  color: $police-color;
  @include align-center;
}
