@import "colors.scss";
@import "mixin.scss";

#services {
  img {
    height: 250px;
    width: 300px;
    padding: 100px;
    background-color: $serv-back;
    border-radius: 30px;
  }
  h3 {
    font-weight: 600;
    font-size: 43px;
    @include align-center;
  }
  .container-services {
    height: auto;
    width: auto;
    margin: auto;
  }
}
